extends includes/layout

block content

	div.row
		div.col.size12
			include partials/module-text

	div.row
		div.col.size12
			include partials/module-earth

	div.row
		div.col.size12
			include partials/module-text

	div.row
		div.col.size12
			include partials/module-text